
*.v2
*.vsidx
*.lock
fuel_calc/.vs/fuel_calc/v17/.suo
*.1
*.cache
*.editorconfig
*.json
*.props
*.targets
fuel_calc/fuel_calc/obj/Debug/net6.0/fuel_calc.GlobalUsings.g.cs
fuel_calc/fuel_calc/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
fuel_calc/fuel_calc/obj/Debug/net6.0/fuel_calc.AssemblyInfo.cs
*.dll
*.exe
*.pdb
*.BuildWithSkipAnalyzers
*.txt
max_value/.vs/max_value/v17/.suo
max_value/max_value/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
max_value/max_value/obj/Debug/net6.0/max_value.AssemblyInfo.cs
max_value/max_value/obj/Debug/net6.0/max_value.GlobalUsings.g.cs
