
*.v2
*.vsidx
*.lock
fuel_calc/.vs/fuel_calc/v17/.suo
*.1
*.cache
*.editorconfig
*.json
*.props
*.targets
fuel_calc/fuel_calc/obj/Debug/net6.0/fuel_calc.GlobalUsings.g.cs
fuel_calc/fuel_calc/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
fuel_calc/fuel_calc/obj/Debug/net6.0/fuel_calc.AssemblyInfo.cs
*.dll
*.exe
*.pdb
*.BuildWithSkipAnalyzers
*.txt
max_value/.vs/max_value/v17/.suo
max_value/max_value/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
max_value/max_value/obj/Debug/net6.0/max_value.AssemblyInfo.cs
max_value/max_value/obj/Debug/net6.0/max_value.GlobalUsings.g.cs
quad_eq/.vs/quad_eq/v17/.suo
quad_eq/quad_eq/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
quad_eq/quad_eq/obj/Debug/net6.0/quad_eq.AssemblyInfo.cs
quad_eq/quad_eq/obj/Debug/net6.0/quad_eq.GlobalUsings.g.cs
leap_year/.vs/leap_year/v17/.suo
leap_year/leap_year/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
leap_year/leap_year/obj/Debug/net6.0/leap_year.AssemblyInfo.cs
leap_year/leap_year/obj/Debug/net6.0/leap_year.GlobalUsings.g.cs
arrays/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
arrays/obj/Debug/net6.0/arrays.AssemblyInfo.cs
arrays/obj/Debug/net6.0/arrays.GlobalUsings.g.cs
strings_hw/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
strings_hw/obj/Debug/net6.0/strings_hw.AssemblyInfo.cs
strings_hw/obj/Debug/net6.0/strings_hw.GlobalUsings.g.cs
seven_wonders/.vs/seven_wonders/v17/.suo
seven_wonders/seven_wonders/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
seven_wonders/seven_wonders/obj/Debug/net6.0/seven_wonders.AssemblyInfo.cs
seven_wonders/seven_wonders/obj/Debug/net6.0/seven_wonders.GlobalUsings.g.cs
procent/.vs/procent/v17/.suo
procent/procent/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
procent/procent/obj/Debug/net6.0/procent.AssemblyInfo.cs
procent/procent/obj/Debug/net6.0/procent.GlobalUsings.g.cs
